*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
.main ul li a{
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	border: 1px solid transparent;
	border-radius: 5px;
	margin-right: 0px;
	margin-left: 5px;
	transition: 0.6 ease;

}
.main ul li a:hover{
	background-color: #fff;
	color: #000;
	border: ;

}
.main ul li{
	list-style: none;
	display: inline-block;


}
.main ul{
	float: right;
	margin-top: 25px;
	list-style-type: none;


}
.main ul li.active a{
	background-color: #fff;
	color: #000;
}
.logo img{
	float: left;
	width: 170px;
	height: auto;
	cursor: pointer;
	margin-left: 10px;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/Sunset-rocky-shores-the-sky-with-red-cloud-sea-horizon-Wallpaper-HD-for-Desktop-full-screen-1920x1200.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 70px;
}
.button{
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;

}
.btn:hover{
	background-color: #fff;
	color:#000;
}